<article>
  <!-- Definimos un estilo de texto negrita alternativo, aunque con TailWind se vea un poco raro -->
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty"> 
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
      recusandae, <strong>maiores alias quibusdam doloribu</strong> omnis totam amet
      explicabo repellendus consectetur repellat sit est qui, vero, ab ex! Quas,
      reiciendis excepturi.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Animi ratione voluptate consequatur fugit quia at explicabo repellendus
      quam <strong>aliquid delectus. Rem porro non delectus veritatis pariatur aliquid
      molestias. Aliquam, </strong>tenetur.
    </p>
  </div>
</article>
