<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>

<button
  id="dropdownDefaultButton"
  data-dropdown-toggle="dropdown"
  class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-3
    text-papaya hover:scale-110 hover:bg-white/10 transition"
  type="button"
  > <slot /> <svg
    class="w-2.5 h-2.5 ms-3"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 10 6"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m1 1 4 4 4-4"></path>
  </svg>
</button>

<!-- Dropdown menu -->
<div
  id="dropdown"
  class="z-10 hidden divide-y divide-gray-100 rounded-lg shadow w-44 bg-[#000]/10 border border-white/10 backdrop-blur-[1px]"
>
  <ul
    class="py-2 text-sm text-gray-200"
    aria-labelledby="dropdownDefaultButton"
  >
    <li>
      <a
        href="es-cv-ilia.pdf"
        class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
        download="CV-IliáBriansó-Spanish.pdf"
        >Español</a
      >
    </li>
    <li>
      <a
        href="en-cv-ilia.pdf"
        class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
        download="CV-IliáBriansó-English.pdf"
        >Inglés</a
      >
    </li>
  </ul>
</div>
