---
import "@fontsource-variable/onest"
import Header from '../components/Header.astro';
import Background from '../assets/animations/Background.astro';

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!-- 
El layout es la parte más común del sitio, por lo que aquí he definido los metadatos, favicon, estilos (de forma global)
y todo aquello que se repite en todas las páginas.

Cabe destacar que lo que más he utilizado para estilar mi página es TailwindCSS. Más información al respecto en mi documentación.
-->

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="sysadmin, it, technician, spanish, tic, network, security, administrator, linux, windows, support, helpdesk, troubleshooting, tecnico, redes, sistemas, informatica">
		<meta name="robots" content="noindex, nofollow">
		<meta name="language" content="Spanish">
		<meta name="author" content="Iliá Briansó">
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<title>{title}</title>
	</head>
	<body> 
		<Background />
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		color: white;
		height: 100%;
		width: 100%;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100dvh;
		width: 100%;
		background: #1C1B22;
	}

	::selection {
            color: #1C1B22;
            background: #FFC39B;
        }
</style>
