---
import "@fontsource-variable/onest"
import Header from '../components/Header.astro';

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!-- 
El layout es la parte más común del sitio, por lo que aquí he definido los metadatos, favicon, estilos (de forma global)
y todo aquello que se repite en todas las páginas.

Cabe destacar que lo que más he utilizado para estilar mi página es TailwindCSS. Más información al respecto en mi documentación.
-->

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<title>{title}</title>
	</head>
	
	<body> 
		<div
		class="absolute top-0 left-0 -z-20 h-svh w-full 
			   bg-[#1C1B22] 
			   bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<div class="absolute -z-10 inset-0 h-full w-full 
			   bg-[radial-gradient(#213137_1px,transparent_1px)]
			   [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_60%,transparent_100%)]"></div> 
			  <Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		height: 100%;
		width: 100%;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100svh;
		width: 100%;
	}

</style>
